/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    margin:0;
    padding:0;
}

body {
    text-align: center;
    background: #eee;
}

#wrapper {
    margin: 0 auto;
    width: 960px;
    /*background: #fff;*/
    text-align: left;
}

header {
    position: relative;
    height:60px;
    top:20px;
}

header .logo {
    width:120px;
    position: absolute;
    top: 0;
    left: 0;
}

header .nav {
    width:500px;
    position: absolute;
    top: 0;
    left: 150px;
}

header .nav li {
    padding:0 10px;
    list-style: none;
    display:inline-block;
}

header .command-bar {

}

footer {
    text-align:center;
    padding:20px;
    font-size:10px;
}