// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.container {

}

.page {
  background: #fff;
}

.page-inner {
  padding: 40px;
}


.events-day {
  position: relative;
  h4.events-day-title {
    z-index: 20;
    position:absolute;
    top:0px;
    left:0px;
    text-align:center;
    
    height:40px;
    width:80px;

    background: #afd9ee;
    .date{
      display:block;
    }
    .day{
      display:block;
    }
  }

  .events-day-content {
    .events-ancestor {
      position: relative;
      h5.events-ancestor-title {
        z-index:10;
        background:#eaf2fa;
        text-align:right;
        height:20px;
        padding:10px 0;
      }
      .event {
        position: relative;
        height:80px;
        .avatar {
          position: absolute;
          top:0px;
          left:100px;
          width:50px;
          height:50px;
          border-radius: 25px 25px;
        }
        .event-main {
          .event-head {
            position: absolute;
            top:0px;
            left:200px;
            .event-created-at {
              position: absolute;
              top:0px;
              left:-200px;
            }
            .event-actor {

            }
            .event-action {
            }
            .event-text {
            }
          }
          .event-body {
            position: absolute;
            top:30px;
            left:200px;
            .event-text {

            }
          }
        }
      }
    }
  }
}

#btn-load-more {
  display:block;
  text-align:center;
  width:120px;
  height:24px;
  line-height:24px;
  background: #eee;
  margin:0 380px;
}

